
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.title{
    font-weight: bold;
    color: brown;
    font-size:20px !important;
}
.mybutton{
    background-color:rgb(92, 46, 243) !important;
    color:white !important;
}
.myHelpbutton{
    background-color:#124580 !important;
    color:white !important;
}

main {
    flex: 1 0 auto;
}
