
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.title{
    font-weight: bold;
    color: brown;
    font-size:20px !important;
}


main {
    flex: 1 0 auto;
}


#sendButton{
    background-color:#2196F3  !important;
}
